<footer class="b c">
    <a href="/helma/" class="a font">صفحه اصلی</a>
    <a href="/helma/about" class="a font">ارتباط</a>
    <a href="/helma/<%= profile %>" class="a font"><%= userName %></a><br><br>
    <a href="/helma/services/nakhon" class="a a1 font">ناخن</a>
    <a href="/helma/services/araiesh" class="a a1 font">آرایش</a>
    <a href="/helma/services/mo" class="a a1 font">مدل و رنگ مو</a>
    <p class="font boos">SistersMahdavy© 2024 [ Poiv ]</p>
</footer>