<header id="header">
    <a href="/helma/" class="h font" id="h1">صفحه اصلی</a>
    <a href="/helma/about" class="h font" id="h2">ارتباط</a>
    <a href="/helma<%= profile %>" class="h font" id="h3"><%= userName %></a>
    <a href="/helma/"><div id="logo">Logo</div></a>
</header> 