<!DOCTYPE html>
<html lang="fa-IR">

    <%- include('./partials/head.ejs')  %>

    <body>
        <%- include('./partials/header.ejs')  %>
        <main class="b" id="main-content">

            <h3 class="font posi">رزرو وقت آرایشگاه هلما</h3>
            <p class="font posi" style="font-weight: bold;">این سایت فقط یک تست است و مسئول هیچ یک از کار های شما نیست</p>
            <h4 class="font posi">سلام و خوش آمد به تمام عزیزانی که به سایت
                تشریف فرما
                شدید. این آرایشگاه مجهز به جدیدترین و بروزترین وسایل آرایشی و
                بهداشتی
                است </h4>
            <h4 class="font posi">شما می توانید با این سایت وقت قبلی رزرو
                کنید</h4>

            <a href="/helma/services/araiesh">
                <div id="box1" class="images">
                    <img src="/images/araiesh1.jpg" alt="Hvhda" id="araiesh"
                        class="image">
                    <a href="/helma/services/araiesh" class="text font">آرایش</a> <br>
                    <a href="/helma/services/araiesh" class="textC font">نسرین مهدوی</a>
                </div>
            </a> 

            <a href="/helma/services/nakhon">
                <div id="box2" class="images">
                    <img src="/images/nakhon.jpg" alt="Hvhda" id="nakhon"
                        class="image">
                    <a href="/helma/services/nakhon" class="text font">ناخن</a> <br>
                    <a href="/helma/services/nakhon" class="textC font">سمیرا مهدوی</a>
                </div>
            </a>

            <a href="/helma/services/mo">
                <div id="box3" class="image">
                    <img src="/images/mo1.jpg" alt="Hvhda" id="mo" class="image">
                    <a href="/helma/services/mo" class="text1 font">رنگ و مدل مو</a> <br>
                    <a href="/helma/services/mo" class="textC font">سعیده مهدوی</a>
                </div>
            </a>
        
        </main>
        <%- include('./partials/footer.ejs')  %>
    </body>

</html>