<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خطااااا</title>
    <style>
        div {
            width: 350px;
            height: 60px;
            border-radius: 6%;
            background-color: rgb(217, 210, 199);
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 20%;
        }
        p {
            font-family: 'Courier New', Courier, monospace;
            font-size: large;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div>
        <p>این صفحه توسط سازنده بسته شده است !!</p>
    </div>
</body>
</html>