.num {
    font-size: 0.75rem;
    margin-right: 2.3%;
}

#boxPhone {
    width: 44%;
    height: 20%;
    background-color: #FFE5E5;
    position: absolute;
    top: 3%;
    left: 3%;
    border-radius: 8%;
    border: 1px solid rgb(107, 86, 114);
    box-shadow: 3px 5px 6px inset grey;
}

.telephone {
    margin-right: 40%;
    margin-top: 5%;
    margin-bottom: -5%;
}

.phoneNumber {
    margin-bottom: -4%;
}

#boxLocation {
    width: 44%;
    height: 20%;
    background-color: #FFE5E5;
    position: absolute;
    top: 3%;
    right: 3%;
    border-radius: 8%;
    border: 1px solid rgb(107, 86, 114);
    box-shadow: 3px 5px 6px inset grey;
}

.location {
    margin-left: 43%;
    margin-top: 2%;
    margin-bottom: -48%;
}

#boxClock {
    width: 94%;
    height: 7%;
    background-color: #FFE5E5;
    position: absolute;
    top: 25%;
    right: 3%;
    border-radius: 8px;
    border: 1px solid rgb(107, 86, 114);
    box-shadow: 3px 5px 6px inset grey;
}

.clock {
    position: absolute;
    left: 90%;
    margin-top: 2%;
}

.clockP {
    position: absolute;
    right: 10%;
}

#addres {
    width: 90%;
    height: 40%;
    position: absolute;
    right: 5%;
    top: 35%;
    border-radius: 6%;
}

.posi {
    margin-right: 3%;
    position: absolute;
    top: 75%;
} 
 
.loadBox {
    width: 90%;
    height: 40%;
    position: absolute;
    right: 5%;
    top: 35%;
    border-radius: 6%;
    background-color: #FFE5E5;
    border: 1.5px solid black;
}

.loader {
    width: 50px;
    padding: 8px;
    position: absolute;
    right: 40%;
    top: 49%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #AC87C5;
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
} 
 
.ico {
    width: 16%;
    aspect-ratio: 3/2;
    object-fit: contain;
    position: relative;
    top: 87%;
    margin-right: 6%;
}