#SingupForm {
    width: 100%;
    height: 44%;
}

#LoginForm {
    width: 100%;
    height: 44%;
}

.content {
    width: 56%;
    height: 16%;
    display: flex;
    position: relative;
    left: 12%;
    top: 5%;
    overflow: hidden;
}

.fas {
    margin-right: 11%;
}


.inputs {
    width: 32%;
    height: 9%;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #FFE5E5;
    font-family: IRANSans;
    box-shadow: 3px 5px 5px grey;
}

.inputs::placeholder {
    font-size: 15px;
} 

.show-hide {
    position: absolute;
    left: 38%;
    top: 31%;
}

.show-hide i {
    font-size: 19px;
    color: #E0AED0;
    cursor: pointer;
    transform: translateX(-200%);
    transition: transform 0.3s ease-in-out;
}

.show-hide i.hide::before {
    content: '\f070';
}

#pass:valid~.show-hide i {
    transform: translateX(0);
    color: #756AB6;
}

.posi {
    margin-right: 11%;
}

#pass {
    width: 60%;
    height: 55%;
    position: absolute;
    right: 2%;
    top: 20%;
}

#sub {
    width: 30%;
    height: 6%;
    position: absolute;
    right: 35%;
    top: 33%;
    border: 2px solid black;
    border-radius: 7px;
    font-size: 17px;
    background-color: #AC87C5;
    box-shadow: 3px 5px 5px grey;
}

#sub:active {
    position: absolute;
    right: 34.5%;
    top: 33.5%;
    box-shadow: none;
}

.title {
    position: relative;
    right: 35%;
}

#line {
    width: 100%;
    height: 2px;
    background-color: #806377;
    position: absolute;
    top: 50%;
}

.login {
    position: relative;
    top: 0%;
    right: 42%;
}

.posi1 {
    margin-right: 11%;
    position: relative;
    top: 5%;
}

.posi2 {
    margin-right: 33%;
    position: relative;
    top: 15%;
}

#btn {
    width: 30%;
    height: 6%;
    position: absolute;
    right: 35%;
    top: 83%;
    border: 2px solid black;
    border-radius: 7px;
    font-size: 17px;
    background-color: #AC87C5;
    box-shadow: 3px 5px 5px grey;
}

#btn:active {
    position: absolute;
    right: 34.5%;
    top: 83.5%;
    box-shadow: none;
}

.err {
    color: red;
    font-size: 15px;
    position: relative;
    top: 45%;
    margin-right: 35%;
    
}
